{% extends 'base/layout.html' %}

{% block config %}
    {% include 'config/filter.html' %}
{% endblock %}

{% block content %}

    <div id="page-content">
        {% include "search.html" %}
        <div class="row" id="vue-page">
            <div class="col-md-12">
                <div class="graph" id="chart-map" style="width:100%;height:1000px;"></div>
            </div>
        </div>    
    </div>

{% endblock %}

{% block css_include %}

{% endblock %}

{% block js_include %}
    <script src="/static/js/utils.js"></script>  
    <script src="/static/js/map.js"></script>  
{% endblock %}

{% block jquery_code %}

{% endblock %}


