
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Vulture Dashboard</title>

    <link rel='shortcut icon' href="/dashboard/static/img/favicon.ico" type='image/png'/>
    <link href="/dashboard/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dashboard/static/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="/dashboard/static/css/nifty.css" rel="stylesheet">        
    <link href="/dashboard/static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/dashboard/static/plugins/bootstrap-toggle/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="/dashboard/static/plugins/select2/css/select2.min.css" rel="stylesheet">
    <link href="/dashboard/static/plugins/tageditor/tageditor.min.css" rel="stylesheet">
    <link href="/dashboard/static/plugins/switchery/switchery.min.css" rel="stylesheet">
    <link href="/dashboard/static/css/style.css" rel="stylesheet">
    {% if dark === "true" %}
        <link href="/dashboard/static/css/themes/type-full/theme-dark-full.min.css" rel="stylesheet">
    {% else %}
        <link href="/dashboard/static/css/themes/type-a/theme-dark.min.css" rel="stylesheet">
    {% endif %}
    {% block css_include %}{% endblock %}
</head>

<body>
    <div id="container" class="effect {% if dark === 'true' %}aside-bright{% endif %} mainnav-out {% if config %} aside-in {% endif %}">
        
        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <div class="navbar-header">
                    <a href="/dashboard/" class="navbar-brand">
                        <img src="/dashboard/static/img/vulture-logo-large.png" alt="Vulture Logo" class="brand-icon">
                    </a>
                </div>

                <div class="navbar-content">
                    <ul class="nav navbar-top-links">
                        <li>
                            <a href="/dashboard/"><i class="fa fa-home">&nbsp;&nbsp;</i>Home</a>
                        </li>
                        <li>
                            <a href="/dashboard/carto"><i class="fa fa-sitemap">&nbsp;&nbsp;</i>Cartography</a>
                        </li>
                        <li>
                            <a href="/dashboard/map"><i class="fa fa-globe">&nbsp;&nbsp;</i>Map</a>
                        </li>
                        <li>
                            <a href="/dashboard/logs"><i class="fa fa-table">&nbsp;&nbsp;</i>Logs</a>
                        </li>
                        <li>
                            <a href="/dashboard/alerts"><i class="fa fa-bell">&nbsp;&nbsp;</i>Alerts</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links">
                        <li>
                            <a href="#">
                                <input type="checkbox" {% if dark === 'false' %} checked {% endif %} data-toggle="toggle" id="theme-selector" data-on="Light Theme" data-off="Dark Theme" data-size="small" data-onstyle="light" data-offstyle="dark"/>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="playpause" data-play="true">
                                <i class="fa fa-pause"></i>&nbsp;&nbsp;PAUSE
                            </a>
                        </li>
                        {% if config %}
                            <li>
                                <a href="#" class="aside-toggle">
                                    <i class="fa fa-cogs"></i>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="/dashboard/auth/logout">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </header>

        <div class="boxed">
            <div id="content-container">
                {% block content %}{% endblock %}
            </div>

            {% if config %}
                <aside id="aside-container">
                    <div id="aside">
                        <div class="nano">
                            <div class="nano-content">
                                {% block config %}{% endblock %} 

                                <br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><button class="btn btn-success btn-labeled btn-block" type="button" @click="apply_config()"><i class="btn-label fa fa-check"></i> Apply</button></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><button class="btn btn-primary btn-labeled btn-block" type="button" @click="reinit_config()"><i class="btn-label fa fa-ban"></i> Reinit</button></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            {% endif %}

        </div>
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
    </div>

    <script src="/dashboard/static/js/jquery.min.js"></script>
    <script src="/dashboard/static/js/bootstrap.min.js"></script>
    <script src="/dashboard/static/js/nifty.js"></script>
    <script src="/dashboard/static/js/moment.js"></script>
    <script src="/dashboard/static/plugins/socketio.min.js"></script>
    <script src="/dashboard/static/plugins/vue/vue.js"></script>
    <script src="/dashboard/static/plugins/select2/js/select2.min.js"></script>
    <script src="/dashboard/static/plugins/tageditor/jquery.caret.min.js"></script>
    <script src="/dashboard/static/plugins/tageditor/tageditor.min.js"></script>
    <script src="/dashboard/static/plugins/switchery/switchery.min.js"></script>
    <script src="/dashboard/static/plugins/visjs/visjs-network.min.js"></script>
    <script src="/dashboard/static/plugins/echarts/echarts.all.js"></script>  
    <script src="/dashboard/static/plugins/echarts/dark.js"></script>  
    <script src="/dashboard/static/plugins/echarts/world.js"></script>  
    <script src="/dashboard/static/plugins/numeral.min.js"></script>  
    <script src="/dashboard/static/plugins/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="/dashboard/static/plugins/momentjs/moment.min.js"></script>
    <script src="/dashboard/static/plugins/momentjs/moment-with-locales.min.js"></script>
    <script src="/dashboard/static/plugins/pnotify/dist/iife/PNotify.js"></script>
    <script src="/dashboard/static/plugins/pnotify/dist/iife/PNotifyButtons.js"></script>
    <script src="/dashboard/static/plugins/jquery-match-height/jquery-match-height.min.js"></script>
    <script src="/dashboard/static/js/config.js"></script>

    <script>
        PNotify.defaults.styling = 'bootstrap4';
        PNotify.defaults.icons = 'fontawesome4';

        const socket = io({path: "{{ socket_path }}"});

        $(function(){
            $(window).on('blur', function(){
                socket.disconnect();
            })

            $(window).on('focus', function(){
                socket.open();
            })

            $('[data-toggle="tooltip"]').tooltip();
            $('#theme-selector').bootstrapToggle();

            $('#theme-selector').on('click', function(e){
                e.stopPropagation();
            })

            $('#theme-selector').change(function() {
                var dark = $(this).is(':checked') === false;

                $.post(
                    '/dashboard/config/theme',
                    {dark: dark},

                    function(response){
                        setTimeout(function(){
                            location.reload();
                        }, 200)
                    }
                )
            })
        })


        var config_vue;
        var current_vue;

        var number_of_nodes = {{ settings.number_of_nodes }};
        var selected_tag = "{{ group_by }}";

        var dark = "{{ dark }}" === "true";

        {% block jquery_code %}{% endblock %}
    </script>   

    {% block js_include %}{% endblock %}
</body>
</html>
